
# pixi environments
.pixi
.worktrees/
*.egg-info
catalogs/
.vscode/
.jupyter.log
.ipynb_checkpoints/
demo.ipynb
hod/
results/
*ipynb
hod_fit/
__pycache__/
tmp/
job_logs/
.deprecated/
measurements/.deprecated
measurements/.ipynb_checkpoints
measurements/*.ipynb
cfgs/.old/
cfgs/fcfc*
submit.sh
